$base-theme-color: #2c90ff;
$dark-theme-color: #0d326c;
$base-link-color: #2370c8;
$base-text-color: #000;
$unimportant-text-color: #999;
$minor-text-color: #636363;
$disabled-text-color: darken($unimportant-text-color, 20%);

$base-border-color: $base-link-color;
$light-border-color: lighten($base-border-color, 20%);
$lightness-border-color: lighten($base-border-color, 40%);

$base-font-family: Georgia,"Times New Roman",Times,Kai,"Kaiti SC",KaiTi,BiauKai,serif;
$monospaced-font-family: Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;

$default-font-size: 1.1rem;
$default-line-height: 1.1rem;

$default-container-width: 1200px;
$column-space: 20px;