$base-theme-color: #2c90ff;
$base-link-color: #2370c8;
$unimportant-text-color: #999;

$base-font-family: Georgia,"Times New Roman",Times,Kai,"Kaiti SC",KaiTi,BiauKai,serif;
$monospaced-font-family: Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;

$default-font-size: 1.1rem;
$default-line-height: 1.1rem;