@import "variables";
@import "content";
@import "layout";
@import "list";

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $default-font-size;

  & > footer {
    padding: 1rem 0;
    margin-top: 5rem;
  }
}

img.logo {
  margin-right: 6px;
}

* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

time {
  font-family: $monospaced-font-family;
  cursor: default;
}

a {
  text-decoration: none;
  color: $base-link-color;

  &:hover {
    color: darken($base-link-color, 20%);
  }
}

.minor-text {
  color: $minor-text-color;
}

.center-text {
  text-align: center;
}

.nav-main, .nav {
  &::after {
    clear: both;
    display: table;
    content: " ";
  }
}

.nav-main {
  line-height: $default-line-height * 2;
  padding: .5rem 0;

  .nav-head {
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    & > a {
      color: $base-theme-color;

      & > img {
        vertical-align: text-top;
        border: none;
      }
    }
  }

  ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    & > li {
      float: left;
      & > a {
        padding: .8rem;
      }
    }
  }
}

.disabled > a {
  cursor: not-allowed;
  color: $disabled-text-color;
}

.active > a {
  cursor: default;
  font-weight: bolder;
  text-decoration: underline;
}

.area {
  & > header {
    padding: 2rem 0;
    & > .area-title {
      font-size: $default-font-size * 1.2;
    }
  }
}

.column {
  & > header {
    padding: 1rem 0;
    border-bottom: solid 1px $light-border-color;
    & > .column-title {
      font-size: $default-font-size * 1.2;
    }
  }

  & > .column-body {
    position: relative;
  }
}

.pagination {
  margin: 1rem 0;
  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &:after {
      clear: both;
      display: table;
      content: " ";
    }
    & > li {
      float: left;
      cursor: pointer;
      margin-left: .5rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}