@import "variables";
@import "vs2015.css";

article.content {
  h1, h2, h3, h4, h5, h6 {
    & > a {
      color: $base-text-color
    }
  }

  & > header {
    margin: 3.6rem 0;

    & > .content-title {
      font-weight: bolder;
    }

    h1 {
      line-height: $default-line-height * 2;
    }

    .content-meta {
      font-size: $default-font-size * 0.85;

      &:after {
        clear: both;
        display: table;
        content: " ";
      }

      & > * {
        float: left;
      }

      & > time {
        color: $unimportant-text-color;
      }
    }

    &+.content-body {
      margin-top: 4rem;
    }
  }

  & > .content-body {
    h3 {
      font-size: 1.3em;
    }
    h4 {
      font-size: 1.2em;
    }
    h5 {
      font-size: 1.15em;
    }
    h6 {
      font-size: 1.1em;
    }

    h2, h3 {
      margin: 1.8rem 0;
    }
    h4, h5, h6 {
      margin: 1.5rem 0;
    }

    p, ul, code {
      line-height: $default-line-height * 1.6;
      overflow: auto;
    }

    blockquote {
      border-left: solid .4rem $lightness-border-color;
      margin: 0;
      padding: .6rem 1.6rem;
    }

    pre > code {
      padding: 1rem!important;
      color: #DCDCDC;
      background: #1E1E1E;
      line-height: $default-line-height * 1.2;
      tab-size: 4;
    }

    code {
      font-family: $monospaced-font-family;
      background: $lightness-border-color;
      color: $dark-theme-color;
      padding: .1rem .4rem;
      border-radius: .4rem;
      font-size: 0.85em;
    }
  }
}

.content-toc {
  ol, ul {
    padding-left: 1.5em;
    line-height: $default-line-height * 1.4;
  }
}

.push-message {
  & > .push-message-content {

  }
}

@media screen and (max-width: 960px) {
  article {
    & > header {
      margin: 1.6rem 0;
    }

    h1 {
      font-size: 1.4em;
    }

    h2, h3 {
      font-size: 1.26em;
    }

    h4, h5, h6 {
      font-size: 1.14em;
    }
  }
}