@import "variables";
@import "vs2015.css";

article.content {
  & > header {
    h1 {
      line-height: $default-line-height * 2;
    }

    .content-meta {
      font-size: $default-font-size * 0.85;

      &:after {
        clear: both;
        display: table;
        content: " ";
      }

      & > * {
        float: left;
      }

      & > time {
        color: $unimportant-text-color;
      }
    }

    &+.content-body {
      margin-top: 4rem;
    }
  }

  & > .content-body {
    p, ul, code {
      line-height: $default-line-height * 1.4;
      overflow: auto;
    }

    blockquote {
      border-left: solid .4rem $lightness-border-color;
      margin: 0;
      padding-left: 1.6rem;
    }

    pre > code {
      padding: 1rem!important;
      color: #DCDCDC;
      background: #1E1E1E;
    }

    code {
      font-family: $monospaced-font-family;
      background: $lightness-border-color;
      color: $dark-theme-color;
      padding: .1rem .4rem;
      border-radius: .4rem;
      font-size: 0.85em;
    }
  }
}

@media screen and (max-width: 960px) {
  article {
    & > header {
      margin: 1.6rem 0;
    }

    h1 {
      font-size: 1.2em;
    }

    h2, h3 {
      font-size: 1.1em;
    }

    h4, h5, h6 {
      font-size: 1.05em;
    }
  }
}