@import "variables";

.fixed {
  position: fixed;
}

.fixed-zero-top {
  @extend .fixed;
  top: 0;
}

.container {
  width: $default-container-width;
  margin: auto;
  position: relative;
}

.flex {
  display: flex;
  margin-left: -$column-space;
}

@for $i from 1 through 12 {
  .col-flex-#{$i} {
    flex: $i;
    margin-left: $column-space;
  }
}

@media screen and (max-width: $default-container-width) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  @for $i from 1 through 12 {
    .col-flex-#{$i} {
      flex: auto;
      margin-left: 0;
      width: 100%;
    }
  }

  .flex {
    flex-direction: column;
    margin-left: 0;

    @for $i from -3 through 3 {
      .col-order-#{$i} {
        order: $i;
      }
    }
  }
}