@import "variables";

ul.content-list, ul.push-message-list {
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    line-height: $default-line-height * 1.4;
  }

  time {
    color: $unimportant-text-color;
    font-size: .85em;
  }
}

ul.push-message-list {
  time {
    font-size: .75em;
  }

  & > li {
    box-sizing: border-box;
    padding: .5rem 0;
    border-top: dotted 1px $light-border-color;
    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
}