<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% if __sub_title is defined %}{{ __sub_title }} - {% endif %}{{ __site_setting.site.title }}</title>
  <link rel="stylesheet" href="/assets/app.css">
  {% block head %}{% endblock %}
</head>
<body>
<header>
  <nav class="nav-main">
    <div class="container">
      <div class="nav-head" style="margin-right: 2rem">
        <a href="/"><img src="/assets/common/images/logo.png" alt="logo" width="32px" class="logo"> Inspirer</a>
      </div>
      <div>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% block body %}{% endblock %}
<footer>
  <div class="container">
    {% if __site_setting.site.registration_record is defined and __site_setting.site.registration_record | length > 0 %}
    <div class="minor-text center-text">{{ __site_setting.site.registration_record }}</div>
    {% endif %}
  </div>
</footer>
</body>
</html>