{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row" style="margin-top: 2rem">
      <div class="col-md-8">
        <article class="content">
          <header>
            <div class="content-meta">
              <time datetime="{{ content.published_at_o }}">发布于 {{ content.published_at }}</time>
            </div>
            <h1>{{ content.title }}</h1>
          </header>
          <div class="content-body">
            {{ content.content | safe }}
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <div class="column hold">
          <header>
            <div class="column-title">目录</div>
          </header>
          <div class="column-body">
            <aside id="toc" class="content-toc"></aside>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="/assets/highlight.min.js"></script>
<script src="/assets/content.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}