{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="flex row">
    <div class="col-flex-1">
      <div class="area">
        <header>
          <div class="area-title">推荐内容</div>
        </header>
        <div class="area-body">
        </div>
      </div>
    </div>
  </div>
  <div class="flex row">
    <div class="col-flex-2 col-order-1">
      <div class="area">
        <header>
          <div class="area-title">博客文章</div>
        </header>
        <div class="area-body">
          {% if contents | length > 0 %}
          <ul class="content-list">
            {% for item in contents %}
            <li><time datetime="{{ item.published_at_o }}">[{{ item.published_at }}]</time> <a href="article/{{ item.name }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
          <div style="margin-top: 1.4rem"><a href="/article">&raquo; 更多文章</a></div>
          {% else %}
          Nothing
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-flex-1 col-order-0">
      <div class="area">
        <header>
          <div class="area-title">最新 PUSH MESSAGE</div>
        </header>
        <div class="area-body">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}