{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/assets/home.css">
{% endblock %}
{% block body %}
<div class="container">
  {% if recommends | length >= 3 %}
  <div class="row">
    <div class="col-md-12">
      <div class="area">
        <header>
          <div class="area-title">推荐内容</div>
        </header>
        <div class="area-body">
          <div class="row recommends">
            {% for item in recommends %}
            <article class="content col-md-4">
              <header><div class="content-title"><a href="{{ item.source }}" title="{{ item.title }}">{{ item.title }}</a></div></header>
              <div class="content-body">
                {{ item.summary | safe }}
              </div>
            </article>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-8">
      <div class="area">
        <header>
          <div class="area-title">最新文章</div>
        </header>
        <div class="area-body">
          {% if contents | length > 0 %}
          <ul class="content-list">
            {% for item in contents %}
            <li><time datetime="{{ item.published_at_o }}">[{{ item.published_at }}]</time> <a href="article/{{ item.name }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
          <div style="margin-top: 1.4rem"><a href="/article">&raquo; 更多文章</a></div>
          {% else %}
          Nothing
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="area">
        <header>
          <div class="area-title">最新 PUSH MESSAGE</div>
        </header>
        <div class="area-body">
          {% if pushes | length > 0 %}
          <ul class="push-message-list">
            {% for item in pushes %}
            <li class="push-message">
              <div class="push-message-content">{{item.content}}</div>
              <time datetime="{{ item.created_at_o }}">{{ item.created_at }}</time>
            </li>
            {% endfor %}
          </ul>
          <div style="margin-top: 1.4rem"><a href="/push">&raquo; 更多 PUSH</a></div>
          {% else %}
          没有任何 Push Message
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}