{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block body %}
<div class="container">
  <div class="flex">
    <div class="col-flex-1">
      <div class="area">
        <header>
          <div class="area-title">博客文章</div>
        </header>
        <div class="area-body">
          {% if contents | length > 0 %}
          <ul class="content-list">
            {% for item in contents %}
            <li><time datetime="{{ item.published_at_o }}">[{{ item.published_at }}]</time> <a href="article/{{ item.name }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
          {{ macros::paginate(pages = pages, current = current) }}
          {% else %}
          Nothing
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}