{% macro paginate(pages, current) %}
{% if pages > 0 %}
<div class="pagination">
  <ul>
    <li {% if current == 1 %}class="disabled"{% endif %}><a {% if current == 1 %}href="javascript:void(0);"{% else %}href="?page={{ current - 1 }}"{% endif %}>&laquo;</a></li>
    {% for page in range(start = 1, end = (pages + 1)) %}
    <li {% if page == current %}class="active"{% endif %}><a {% if page == current %}href="javascript:void(0);"{% else %}href="?page={{ page }}"{% endif %}>{{ page }}</a></li>
    {% endfor %}
    <li {% if current == pages %}class="disabled"{% endif %}><a {% if current == pages %}href="javascript:void(0);"{% else %}href="?page={{ current + 1 }}"{% endif %}>&raquo;</a></li>
  </ul>
</div>
{% endif %}
{% endmacro input %}