{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row" style="margin-top: 2rem">
        <div class="col-md-8">
            <article class="content">
                <header>
                    <h1>{{ content.title }}</h1>
                </header>
                <div class="content-body">
                    {{ content.content | safe }}
                </div>
            </article>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script src="/assets/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}